## SWAMP Workflow Administration and Management Platform


## 
##     Part that only requires the Datapack in the context. Note that the including 
##     vm needs to set a proper form frame around.
##
##    Context:
##      setnames - a stringlist of sets in the datapack
##      setmap   - a hashmap of sets containing fields per setname
##      workflow - (mandatory) related workflow (used to fetch dataset description)



<table cellpadding="3" cellspacing="0" border="1" style="border-style: solid; " width="100%">	
#foreach( $setname in $setnames )

	##// don't show hidden fields: 
	#if (!($workflow.getDataset($setname).getState().equals($datastates.HIDDEN)))
	
	<!-- set-id: $!{workflow.getDataset($setname).getId()} -->
	<tr class="box_head"><td colspan="2" class="box_head"><b class="box_head">
	$!{workflow.getDataset($setname).getDescription()}
	</b></tr>
	
		#set ($set = $setmap.get($setname))
		#foreach( $field in $set )
	
			#if (!$field.getState().equals($datastates.HIDDEN))
			
				#set ($content = $field.getInitValue() )
	  			#set ($content = $ui.htmlEncode($content).replaceAll(",", ", ").replaceAll("\n", "<br />"))
	  				
				<tr class="box_normal">
				#set($label = $field.getLabel().replaceAll("\\n", "<br />"))
				<!-- id: $workflow.getDatabit($field.getPath()).getId() -->
				<td align="right" valign="top" width="30%">$label
				#if($workflow.getTemplate().containsDatabitTemplate($field.getPath()))
					#set ($bittemplate = $!workflow.getDatabitTemplate($field.getPath()))
					#if ($!bittemplate && $!bittemplate.getLongDescription())
						#set ($tooltip = $ui.tooltipEncode($!bittemplate.getLongDescription()))
						<img src="$ui.image("info_16")" onmouseover="Tip('$tooltip', OFFSETX, -70)" onmouseout="UnTip()"/>
					#end
				#end
				</td>
				<td valign="top" width="50%">
				#set ($path = $field.getPath())
				#set ($type = $field.getDatatype())
				#set ($rendertype = "workflow")
				#parse( "datatypes/${type}.vm" )

				</td>
				</tr>
			#end ## end display field
		#end ## each field
	#end ## end if set is hidden
#end ## end foreach
</table>
