#if ($rendertype.equals("wflist")) 
    <nobr><img src="$ui.image("buggie_16")" /> 
     <a href="${bugzilla_url}${content}">$content</a></nobr>
#elseif ($rendertype.equals("workflow"))
    #if ($content.equals(""))
        <i>no value</i>
    #else 
        <nobr><img src="$ui.image("buggie_16")" /> 
        <a href="${bugzilla_url}${content}">$content</a></nobr>
    #end
    
#elseif ($rendertype.equals("edit")) 

    <input name="field_$field.getPath()" value="$!initval" type="text" size ="10" />

    #if (!$!noBugzillaRefresh)
        <input type="submit" name="refresh_bugzilla" value="Refresh Bugzilla data" />
    #end

    #if (!$field.getInitValue().equals("") && !$field.getState().equals($datastates.ERROR))
        <br />
        #foreach ($value in $field.getEnumvalues())
            <a href="${bugzilla_url}${value}">Link</a> to this Bug.
        #end
    #end
    
#elseif ($rendertype.equals("flags")) 
    #if ($field.isMandatory()) * #end
#else 
    ERROR
#end
