#if ($rendertype.equals("wflist")) 
    #if ($content.length() > 60)
    <a href="$content">${content.substring(0,60)}...</a>
    #else 
    <a href="$content">$content</a>
    #end
#elseif ($rendertype.equals("workflow"))
    #if ($content.equals(""))
        <i>no value</i>
    #else 
        #if ($content.length() > 60)
        <a href="$content">${content.substring(0,60)}...</a>
        #else 
        <a href="$content">$content</a>
        #end
    #end
    
#elseif ($rendertype.equals("edit")) 

    #set ($xsize = 0)
    #set ($ysize = 0)
    #if (${field.getEditInfo()}) 
        #set ($ysize = ${field.getEditInfo().getYsize()})
        #set ($xsize = ${field.getEditInfo().getXsize()})
    #end

    #if ($!{ysize} > 1)
        <textarea name="field_$field.getPath()" cols="$xsize" rows="$ysize">$!initval</textarea> 
    #elseif ($!{xsize} > 1)       
        <input name="field_$field.getPath()" value="$!initval" type="text" size ="${xsize}" />
    #else
   
        ## auto-resize if needed:
        #if ($!initval && $!{initval.length()} > 40)
            #set ($ysize=$!initval.length() / 40 + 1)
            <textarea name="field_$field.getPath()" cols="45" rows="$ysize">$!initval</textarea>
        #else 
            <input name="field_$field.getPath()" value="$!initval" type="text" size ="40" id="field_$field.getPath()" />
        #end

    #end
    
#elseif ($rendertype.equals("flags")) 
    #if ($field.isMandatory()) * #end
#else 
    ERROR
#end
